.form-container{
    position: absolute;
    top: 15%;
    margin-left: 5%;
    width: 55%;
    border-radius: 20px;
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2);
}

.form-container input{
    width: 95%;
    margin: 2%;
    margin-bottom: 10px;
}

.form-container select{
    width: 95%;
    margin: 2%;
    margin-bottom: 10px;
}

.form-container label{
    margin: 2%;
}

.form-container input[type=text] {
    border: none;
    border-bottom: 2px solid red;
}